ShowRoomConsole/bin/
ShowRoomConsole/obj/
.vs/
ShowRoomConsoleTests/bin/
ShowRoomConsoleTests/obj/
ShowRoomTweetTests/appsettings.json
ShowRoomTweetTests/bin/
ShowRoomTweetTests/obj/
ShowRoomTweet/bin/
ShowRoomTweet/obj/
ShowRoomConsole/appsettings.json
